@charset "UTF-8";
.a{
	color: black;
	font-family: 'Audiowide', cursive;
	font-size: 30px;
	
}
.input1{
	width: 200px;
}
.autocomplete{
    position: absolute;
    top: 10px;
    left: 310px;
    height: 47px;
    width: 50%;
    min-width: 140px;
     border: none;
    border-bottom: 4px solid #ac31db;
    
}
.search{
	
	position: relative;
	left:1150px;
	bottom:40px;
}
.loc{
	position: relative;
	left:200px;
	top:47px;
	
}
.mylist {
list-style: none;
    margin: 0px;
    padding: 0px;
  
    max-width: 900px;
    width: 100%;
}
.mylist li  {
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 12px;
    cursor: pointer;
}
.list option{
	    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 12px;
    cursor: pointer;
}
.date{
	position:relative;
	left:370px;
}
.map{
	position: relative;
	left: 650px;
	bottom: 45px;
	
}
